.aff-graph-wrap
  div(ng-show="vm.type=='line'")
    .well over time
    canvas.chart.chart-line(
      data="vm.lineData"
      labels="vm.lineLabels"
      series="vm.lineSeries"
      legend="true"
    )

  div(ng-show="vm.type=='pie'")
    .well total
    canvas.chart.chart-pie(
      data="vm.pieData"
      labels="vm.pieLabels"
      legend="true"
    )

  .text-center
    button.btn.btn-info(type="button" ng-click="vm.toggle()")
      span.icon-arrows-cw

  .text-center
    button.btn.btn-info(type="button" ng-click="vm.toggleTotal()" ng-if="vm.type == 'line'")
      | show total