.aff-graph-wrap
  nvd3-line-chart(
    data="vm.graphData"
    showXAxis="true"
    showYAxis="true"
    tooltips="true"
    interactive="true"
    useInteractiveGuideLine="true"
    color="vm.getColor()"
    xAxisTickFormat="vm.xAxisTickFormat()"
  )
